* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/*Navigatie balk*/
.site-header {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.nav {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;
  outline: 2px solid black;
  max-width: 1000px;
  width: 90%;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}
.nav:hover {
  opacity: 1;
  filter: blur(0px);
}

.nav_wrapper {
  display: flex;
}

.nav_wrapper:focus {
  outline: 0 !important;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  font-size: 25px;
}

@media only screen and (max-width: 650px) {
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*basis*/
.base {
  position: relative;
  left: 200px;
  display: flex;
  height: 1500px;
  width: 1100px;
  margin: 10px;
  padding: 15px;
  opacity: 0.75;
  background-color: #ffffff;
  justify-content: center;
}

.menu {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: #000000;
}
